
div.col-sm-4{
	padding: 0px;
	
}
.homepage-image{
    -webkit-filter: invert(0.2); /* Safari */
    filter: invert(0.2);
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.carousel-caption{
	font-size: 130%;
	font-weight: bold;
	left: 5%;
	text-align: left;
	right: auto;
	padding: 5px;
	color: white;
}
.inner{
	margin: 1px;
}
.container-fluid{
	padding: 0px;
}